<% flash.each do |message_type, message| %>
  <div class="notice"><% message_type %><%= message %></div>
<% end %>

<div class="show-box">
    <h3>Title: <%= @book.title %></h3>
    <h3>Body: <%= @book.body %></h3>
</div>

<%= link_to "Edit", edit_book_path(@book.id), class: "black" %>
<%= link_to "Back", books_path, class: "black" %>